In [3]:
class Vehicle:
    def __init__(self,e,rp,p,c):
        self.engine=e
        self.reg_plate=rp
        self.price=p
        self.colour=c

class Car(Vehicle):
    def __init__(self,e,rp,p,c,t,nop,ms):
        super().__init__(e,rp,p,c)
        self.type=t
        self.no_of_passenger=nop
        self.max_speed=ms

class Truck(Vehicle):
    def __init__(self,e,rp,p,c,noa,lc):
        super().__init__(e,rp,p,c)
        self.no_of_axle=noa
        self.load_capacity=lc

obj1 = Vehicle("v8","ACD234", 5000, "ORANGE")
obj2 = Car("v8", "ABC123", 500000, "Red", "Sedan", 5, 200)
obj3 = Truck("Diesel", "XYZ456", 80000, "BLUE", 2, 5000)

print("Car details:", obj2.engine, obj2.reg_plate, obj2.price, obj2.colour, obj2.type, obj2.no_of_passenger, obj2.max_speed)
print("truck details:", obj3.engine, obj3.reg_plate, obj3.price, obj3.colour, obj3.no_of_axle, obj3.load_capacity)

Car details: v8 ABC123 500000 Red Sedan 5 200
truck details: Diesel XYZ456 80000 BLUE 2 5000

In [9]:
class Employee:
    def __init__(self, eid, en, es):
        self.e_id = eid
        self.e_name = en
        self.e_salary = es

class SStuff(Employee):  # Changed class name to follow PEP 8 naming conventions
    def __init__(self, eid, en, es, wt, wp):
        super().__init__(eid, en, es)
        self.work_type = wt
        self.work_pr = wp

class Developer(Employee):
    def __init__(self, eid, en, es, m, t, e):
        super().__init__(eid, en, es)
        self.module = m
        self.tech = t
        self.experience = e

class Manager(Employee):
    def __init__(self, eid, en, es, p, cn):
        super().__init__(eid, en, es)
        self.project = p
        self.client_name = cn

dev_employee = Developer(101, "John Doe", 60000, "Frontend", "React", "3 years")
manager_employee = Manager(102, "Jane Smith", 80000, "XYZ Project", "ABC Corp")

print("Developer Details:")
print("ID:", dev_employee.e_id)
print("Name:", dev_employee.e_name)
print("Salary:", dev_employee.e_salary)
print("Module:", dev_employee.module)
print("Tech:", dev_employee.tech)
print("Experience:", dev_employee.experience)

print("\nManager Details:")
print("ID:", manager_employee.e_id)
print("Name:", manager_employee.e_name)
print("Salary:", manager_employee.e_salary)
print("Project:", manager_employee.project)
print("Client Name:", manager_employee.client_name)

Developer Details:
ID: 101
Name: John Doe
Salary: 60000
Module: Frontend
Tech: React
Experience: 3 years

Manager Details:
ID: 102
Name: Jane Smith
Salary: 80000
Project: XYZ Project
Client Name: ABC Corp

In [4]:
#square pyramid
for x in range(0,10):
    for y in range(0,y+1):
        print("*", end=" ")
    print()

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [3]:
#half pyramid
for y in range(0,10):
    for x in range(0,y+1):
        print("*" ,end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [5]:
#inverted half pyramid
for i in range(10+1, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print()

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [6]:
#full pyramid
rows = int(input("enter the number of rows : ")) 
m = (2 * rows) - 2
for i in range(0, rows):
    for j in range(0, m):
        print(end=" ")
    m = m - 1
    for j in range(0, i + 1):
        print("* ", end='')
    print(" ")

enter the number of rows :  10

                  *
                 * *
                * * *
               * * * *
              * * * * *
             * * * * * *
            * * * * * * *
           * * * * * * * *
          * * * * * * * * *
         * * * * * * * * * *

In [7]:
#hallow triangle pattern
for i in range(10):
    for j in range(10-i):
        print(' ', end='') 
    
    for j in range(2*i+1):
        if j==0 or j==2*i or i==10-1:
            print('*',end='')
        else:
            print(' ', end='')
    print()

          *
         * *
        *   *
       *     *
      *       *
     *         *
    *           *
   *             *
  *               *
 *******************

In [94]:
n = 5
for i in range(1, n+1):
    for j in range(1, n+1):
        if (i == j) or (j == 1) or (i == n):
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

*
* *
*   *
*     *
* * * * *

In [8]:
#half number pyramid
for i in range(1,10+1):
    for j in range(1,i+1):
        print(j, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [9]:
#inverted half number pyramid
for i in range(0, 10 + 1):  
    for j in range(10 - i, 0, -1):  
        print(j, end=' ')  
    print()

10 9 8 7 6 5 4 3 2 1
9 8 7 6 5 4 3 2 1
8 7 6 5 4 3 2 1
7 6 5 4 3 2 1
6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [19]:
#number square pyramid
for j in range(1,5+1):
    for i in range(1,i+1):
        print(j, end=' ')
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5