In [22]:
#file
import os

with open("keerth.txt", 'w') as f:
    f.write("Apple\nBanana\nMango\nGrapes\n")

with open("keerth.txt", 'r') as f:
    content = f.read()

updated_content = content.replace("Banana", "Watermelon")

with open("keerth.txt", 'w') as f:
    f.write(updated_content)

In [21]:
#creating and writing into a file
import os
with open ("tlkeerthana.txt", 'w') as f:
    f.write("Apple\n")
    f.write("Banana\n" )
    f.write("Mango\n")
    f.write("Grapes \n")

with open ("tlkeerthana.txt",'r') as f:
    a=f.read()
    print(a)
    a=a.replace ("Banana", "Watermelon",1)
    print(a)

with open("tlkeerthana.txt",'w') as f:
    f.write(a)

Apple
Banana
Mango
Grapes

Apple
Watermelon
Mango
Grapes

In [2]:
#convert a temperature from celsius to fahrenheit
celsius = int(input("Enter the Temperature in Celsius :\n"))
fahrenheit = (1.8 * celsius) + 32
print("Temperature in Fahrenheit :",fahrenheit)

Enter the Temperature in Celsius :
 12

Temperature in Fahrenheit : 53.6

In [17]:
#find the second largest element in a list
list1=[10,20,30,40,50]
list2=list(set(list1))
list2.sort()
print("the second largest number is:",list2[-2])

the second largest number is: 40

In [21]:
#count the occurance of each element in a list
a = [1, 1, 2, 2, 2, 3, 3, 4, 4, 5, 5] 
b=2
x=[i for i in a if i==b] 
print("the element",b,"occurs",len(x),"times")

the element 2 occurs 3 times

In [12]:
#find the sum of all even numbers in a list
a = [1,2,3,4,5,6,7,8,9,10]
sum=0
for num in a:
    if num % 2==0:
        sum += num
        
print(sum)

30

In [14]:
#count the number of vowels in a string
string = input("Enter string:") 
vowels = 0
for i in string:
    if i.lower() in 'aeiou':
        vowels += 1
print("Number of vowels are:")
print(vowels)

Enter string: keerthana

Number of vowels are:
4

In [17]:
#reverse the words in a given sentences
def reverse(string):
    string = [string[i] for i in range(len(string)-1, -1, -1)]
    return "".join(string)
 
s = "dda"
 
print("The original string  is : ", s)
 
print("The reversed string(using reversed) is : ", reverse(s))

The original string  is :  dda
The reversed string(using reversed) is :  add